<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <ul>
          <a href="home.html" class="logo">alternate.me</a>
          <li><a href="home.html" >Home</a></li>
          <li><a href="contact.asp">Contact</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
    </div>

    <div class="container">
        <!-- Display the age, prediction, and images -->
        <div class="top-section">
            <div class="age" id="age"></div> <!-- Age at the top -->
        </div>

        <div class="middle-section">
            <div class="prediction" id="prediction"></div> <!-- Story (prediction) in the middle -->
        </div>

        <div class="bottom-section">
            <!-- Images at the bottom -->
            <div class="images" id="images"></div>
        </div>
    </div>

    <script>
        // Retrieve query parameters from the URL
        const urlParams = new URLSearchParams(window.location.search);
        const predictions = urlParams.get('prediction');
        const encodedImages = urlParams.get('image');
        const decodedImages2 = localStorage.getItem('variable');
        const decodedImages = JSON.parse(decodedImages2);
        const ages = urlParams.get('ages');

        console.log(predictions);
        console.log(decodedImages);
        console.log(ages);

        document.getElementById('prediction').textContent = predictions.split(',')[0];
        document.getElementById('age').textContent = "Age: " + ages.split(',')[0];

        // Display images at the bottom section
        const imagesContainer = document.getElementById('images');
        decodedImages.forEach(imageSrc => {
            const imgElement = document.createElement('img');
            imgElement.src = imageSrc;
            imgElement.alt = 'Image';
            imagesContainer.appendChild(imgElement);
        });
    </script>
</body>
</html>
