<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <ul>
          <a href="home.html" class="logo">alternate.me</a>
          <li><a href="home.html" >Home</a></li>
          <li><a href="contact.asp">Contact</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </div>
    <div class="description">
        <p>What is alternate.me?</p>
    </div>
</body>
</html>
