<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!--Navbar:-->
    <div class="navbar">
      <ul>
        <a href="home.html" class="logo">alternate.me</a>
        <li><a href="news.html" class="navbar-info">News</a></li>
        <li><a href="contact.asp" class="navbar-info">Contact</a></li>
        <li><a href="about.html" class="navbar-info">About</a></li>
      </ul>
    </div>

    <button onclick="sendRequest()">Send Data to Backend</button>

    <p id="response"></p>
    <p>Hello!!!!</p>








    <script>
        // JavaScript function to send data to the backend
        async function sendRequest() {
            try {
                const response = await fetch('/send_data', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ key: 'value1' }),
                });

                const data = await response.json();
                // This code is executed when the response is received
                document.getElementById('response').textContent = 'Backend Response: ' + data.result + ' + ' + data.questions;
            } catch (error) {
                // This code is executed in case of an error
                console.error('Error:', error);
            }
          }

    </script>
  </body>
</html>
