<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
</head>
<body>
    <div class="separator-navbar"></div>
    <!--Navbar:-->
    <div class="navbar">
      <ul>
        <a href="home.html" class="logo">alternate.me</a>
        <li><a href="contact.asp" class="navbar-info">Contact</a></li>
        <li><a href="about.html" class="navbar-info">About</a></li>
        <li><a href="home.html" class="navbar-info">Home</a></li>
      </ul>
    </div>

    <div class="separator"></div>

    <!---The timeline-->
    <div class="timeline">
        <div class="container top">
            <div class="content">
                <h2>2017</h>
                <p>kaljeglkajelegj</p>
            </div>
        </div>
        <div class="container bottom">
            <div class="content">
                <h2>2016</h>
                <p>kaljeglkajelegj</p>
            </div>
        </div>
    </div>




</body>
</html>
